<body class="jumbotron">

  <h1 class="display-4">Get in touch</h1>

  <hr class="my-5">

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Name" id="inputDefault">
    <i class="fas fa-user fa-lg fa-fw" aria-hidden="true"></i>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email" id="inputDefault">
    <i class="fas fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
  </div>

  <div class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="Your message"></textarea>
    <i class="fas fa-comment fa-lg fa-fw" aria-hidden="true"></i>
  </div>

  <div class="buttonHolder">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</body>
