<body class="jumbotron">

  <h1 class="display-4">About Me</h1>

  <img id="me" src="/assets/images/me.jpg">

  <hr class="my-5">

  <div class="container">    
    <p class="lead">My name is Cuong, pronounced koon (as in Cancun). In December 2017,
      I started studying to become a software developer. I am completely self-taught using
      online courses, tons of research on Google.com, Stackoverflow.com, and other online resources.
      In addition, a personal friend, who is a software architect, helped guide me by giving
      me tasks and personal projects.</p>

    <p class="lead">During my studies, I discovered I get deeply focused on my projects and do not
      want to break free until I figured out my code issues. I have always liked
      solving puzzles and never realized this personal trait would go hand in hand
      with something I do now.</p>

    <p class="lead">I never would have thought it possible for myself to become a home schooled
      software developer. My dedication and self discipline shows I can acheive any goal
      I put my mind to.</p>

    <p class="lead">My biggest accomplisment was when I completed my final project. It took
      me 6 months of studying and hard work. In the end, I was finally able to build my
      first MEAN stack to do app. The app is fully functional where users can log in and
      create their own task list. Each task can be marked as completed and deleted upon choice.</p>

      <p class="lead">Currently I plan on improving my skills and learning more about software development.
      Whether that means refining my code writing, learn new techniques and languages, or
      keeping myself updated with the latest API. My ultimate goal is to keep myself challenged.
      If you don’t challenge yourself you won’t improve.</p>
  </div>

</body>
