<body class="jumbotron">

  <div class="container-top">
    <h1 class="display-4">Welcome!</h1>

    <h3>Thanks for visiting my online resume</h3>
    <hr class="my-4">
  </div>

  <div class="container-bottom">
    <p class="lead">I am a self taught software developer and it took me 6 months to
      accomplish this goal. Want to know more about what I can do and how I became
      a self taught developer?
    </p>

    <p class="lastP">--- Click below to start learning more about me ---</p>

    <div class="buttonHolder">
      <a class="btn btn-primary btn-lg" routerLink="/skills" role="button">Learn more</a>
    </div>
  </div>

</body>
