<body class="jumbotron">

  <h1 class="display-4">Projects and Experience</h1>

  <hr class="my-5">

  <p class="lead">All of my projects can be found at my
    <a href="https://github.com/cu0ngpitt?tab=repositories">GitHub account</a>.
  </p>

  <br>

  <p class="lead">Created my first <img id="mean" src="/assets/images/meanstack.png" alt="MEAN">
    stack app, which can be found
    <a href="https://limitless-coast-73705.herokuapp.com/home">here</a>.
    The coding can be found at
    <a href="https://github.com/cu0ngpitt/MEANTodoApp">GitHub</a>. The following were the
    tasks I did to complete this project.
  </p>

  <br>

  <div class="card">
    <div class="card-body">
      <ul>
        <li class="list lead" *ngFor="let task of tasks">
          <img id="bulletIcons" [src]="task.image">
          {{task.task}}
        </li>
      </ul>
    </div>
  </div>

</body>
