<body class="jumbotron">

  <h1 class="display-4">My Skills</h1>

  <hr class="my-5">

  <div class="container">
    <div class="card-columns d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <ul>
            <li class="list lead" *ngFor="let skill of skills">
              <i class="fas fa-cog fa-lg fa-spin"></i>
              {{skill.skill}}
              <div class="skill-rating">
                <i class="fas fa-star fa-lg checked" *ngIf="skill.level >= 1"></i>
                <i class="fas fa-star fa-lg" *ngIf="skill.level < 1"></i>
                <i class="fas fa-star fa-lg checked" *ngIf="skill.level >= 2"></i>
                <i class="fas fa-star fa-lg" *ngIf="skill.level < 2"></i>
                <i class="fas fa-star fa-lg checked" *ngIf="skill.level >= 3"></i>
                <i class="fas fa-star fa-lg" *ngIf="skill.level < 3"></i>
                <i class="fas fa-star fa-lg checked" *ngIf="skill.level >= 4"></i>
                <i class="fas fa-star fa-lg" *ngIf="skill.level < 4"></i>
                <i class="fas fa-star fa-lg checked" *ngIf="skill.level >= 5"></i>
                <i class="fas fa-star fa-lg" *ngIf="skill.level < 5"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>
